<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        {% stylesheet main %}
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Sebastian "KingCrunch" Krebs<br />
                Software Engineer<br />
                krebs.seb@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://www.kingcrunch.de/blog/">German blog</a><br />
                <a href="https://github.com/KingCrunch">github.com/KingCrunch</a><br />
                <a href="https://twitter.com/SeKrebs">twitter.com/SeKrebs</a><br />
              </p>
            </div>
          </div>
        </div>
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setCookieDomain", "*.crunchphp.de"]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);

            (function () {
                var u = (("https:" == document.location.protocol) ? "https" : "http") + "://www.kingcrunch.de/piwik/";
                _paq.push(["setTrackerUrl", u + "piwik.php"]);
                _paq.push(["setSiteId", "3"]);
                var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
                g.type = "text/javascript";
                g.defer = true;
                g.async = true;
                g.src = u + "piwik.js";
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <!-- End Piwik Code -->
    </body>
</html>
